@model clientWebApp.Models.Employee
@{
    ViewBag.Title = "EmployeLogIn";
}

<h2>EmployeLogIn</h2>


@using (Html.BeginForm("EmployeLogIn", "Home", FormMethod.Post))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Email_Id, new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.TextBoxFor(model => model.Email_Id, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Email_Id)
        </div>
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.PassCode, new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.PasswordFor(model => model.PassCode, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PassCode)
        </div>
    </div>
    <br />
    <div>
        <button class="btn btn-danger">Login</button>
    </div>
}
